# Dependencies
node_modules/

# Environment variables
.env

# Build files
/frontend/dist
/frontend/.angular
/frontend/node_modules

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db
